{% extends "base.html" %}
{% load static %}
{% block extracss %}
<style type="text/css">
    h3, hr{
        margin: 0px;
    }
    hr {
        margin: 10px 0px 10px 0px;
        border: 1px solid rgba(211, 211, 211, 0.35);
    }
</style>
{% endblock %}


{% block content %}
<br /><br />
<div class="container" ng-controller="UserSearchController">
    <h3>Search Users</h3>
    <hr />
    <div class="search-header">
        <div class="row">
            <div class="col-md-2">
                <label>Username</label>
            </div>
            <div class="col-md-2">
                <label>FirstName</label>
            </div>
            <div class="col-md-2">
                <label>LastName</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="text" class="form-control" ng-model="username" />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" ng-model="first_name" />                    
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" ng-model="last_name" />                    
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-primary" value="Search" ng-click="searchUser()" />                    
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="nogriddata" ng-show="user_results.length==0" ng-cloak>
        No Data Avaialable
    </div>
    
    <div class="search-results" ng-show="user_results.length>0" ng-cloak>
        <table datatable="ng" class="row-border hover table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>IsAdmin ?</th>
                    <th>Is Staff ?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in user_results">
                    <td>{[item.username]}</td>
                    <td>{[item.first_name]}</td>
                    <td>{[item.last_name]}</td>
                    <td>{[item.is_superuser]}</td>
                    <td>{[item.is_staff]}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-1">
                <span class="btn btn-success" ng-click="addUser()">
                    <i class="fa fa-plus"></i>&nbsp;Add
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
{% endblock %}