{% load static %}
<!-- Angular Material requires Angular.js Libraries -->
<script type="text/javascript" src="{% static "js/ext/external.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext/ng-tags-input.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext/noty.js" %}"></script>

<!-- Application JS -->
<script type="text/javascript" src="{% static "authentication/js/authentication-app.js" %}"></script>
