<style>
    .modal .modal-header{
        background:#d3d3d3;
    }
    .modal h3{
        font-weight: normal;
    }
    .modal-content{
        padding-bottom: 20px;
    }
    .modal{
        height:500px;
    }
    .modal{
        padding: 0px;
    }
    .modal-body{
        padding: 30px;
    }
</style>
<div style="vertical-align:middle">
    <i class="modal-close-btn" ng-click="modalClose()"></i>
    <div class="modal-header" >
        <h3 ng-show="mode!='edit'">Add User</h3>
        <h3 ng-show="mode =='edit'">Edit User</h3>
    </div>
    <div class='modal-body'>
        <div class="row">
            <div class="col-md-2">
                <label>*Username</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="username" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>*FirstName</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="first_name" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>*LastName</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="last_name" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>*Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="password" class="form-control" ng-model="password" />
            </div>
        </div>
    </div>    
    <div class="modal-footer">
        <button class="btn ibtn" ng-click="modalClose()">Close</button>
        <button class="btn ibtn" ng-click="saveUser()">
            <span ng-show="mode=='edit'">Update</span>
            <span ng-show="mode!='edit'">Save</span>
        </button>
        <br />
    </div>    
</div>
        
