<style>
        .modal .modal-header{
            background:#d3d3d3;
        }
        .modal h3{
            font-weight: normal;
            position: initial;
            width: 100%;
        }
        .modal-content{
            padding-bottom: 20px;
        }
        .modal{
            height:500px;
        }
        .modal{
            padding: 0px;
        }
        .modal-body{
            padding: 30px;
        }
    </style>
    <div style="vertical-align:middle">
        <i class="modal-close-btn" ng-click="modalClose()"></i>
        <div class="modal-header" >
            <h3>Change Password</h3>
        </div>
        <div class='modal-body'>
            <div class="row">
                <div class="col-md-2">
                    <label>*OldPassword</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="password" class="form-control" ng-model="oldpassword" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>*NewPassword</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="password" class="form-control" ng-model="password" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <label>*Retype New Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="password" class="form-control" ng-model="newpassword" />
                </div>
            </div>
            <br />
        </div>    
        <div class="modal-footer">
            <button class="btn ibtn" ng-click="updatePassword()">
                <span ng-show="mode=='edit'">Update</span>
                <span ng-show="mode!='edit'">Save</span>
            </button>
            <br />
        </div>    
    </div>
            