{% load static %}
<script type="text/javascript" src="{% static "js/ext/external.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext/noty.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext/sockjs.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext/broadcast.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/ext/angular-datatables.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/services.js" %}"></script>
<script type="text/javascript" src="{% static "js/app.js" %}"></script>
<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
</script>